@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --red: #D41443;
  --white: #ffffff;
  --background: #FFF5F6;
  --pink: #FFB8CA;
  --bgpink: #FFA5BA;
  --text: #000000;
  --secondtext: #907E82;
  --lime: #C2E297;
  --coffee: #F0D1A5;
}

h1, h2, h3, p, ul, li, input, button, img, a, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  width: 320px;
  padding: 0px 15px;
  outline: 2px solid transparent;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (min-width: 1200px) {
  .header {
    padding-top: 50px;
  }
}

.header-list {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-list {
    display: flex;
    position: relative;
    left: 320px;
    bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .header-item {
    margin-right: 35px;
  }
}

@media (min-width: 1200px) {
  .header-links {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

@media (min-width: 1200px) {
  .header-links:hover {
    color: #D41443;
  }
}

.header-logo {
  width: 199px;
  height: 50px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-logo {
    width: 170px;
    height: 40px;
    position: relative;
    top: 19px;
  }
}

.header-btn {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-btn {
    display: inline-block;
    position: absolute;
    left: 591px;
    top: 29px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #D41443;
    padding: 13px 37px;
    background-color: white;
    border-radius: 22px;
  }
}
@media (min-width: 1200px) {
  .header-btn {
    display: flex;
    position: absolute;
    left: 970px;
    bottom: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #D41443;
    padding: 12px 36px;
    background-color: white;
    border-radius: 22px;
  }
}

/*.header-burger-opn{
    position: relative;
    left: 58px;
    bottom: 17px;
     @media (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    left: 525px;
    bottom: 65px;
    }
}

/* modalka*/
.header-menu-open {
  padding: 50px 50px;
  position: absolute;
  background-color: transparent;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close {
  color: white;
  position: relative;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header-menu {
  background-color: #E17992;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
}

.header-menu-imgopn {
  position: relative;
  bottom: 85.2px;
  left: 225px;
}
@media (min-width: 1200px) {
  .header-menu-imgopn {
    display: none;
  }
}

.header-menu-close {
  background-color: black;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  padding: 70px 70px;
}

.header-menu-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #D41443;
  padding: 11px 48px;
  border-radius: 22px;
  margin-top: 60px;
  margin-left: 40px;
}

.header-menu-list {
  margin-top: 19px;
}

.header-menu-link {
  margin-left: 21px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.header-menu-link:hover {
  color: #D41443;
}

.header-menu-item {
  margin-bottom: 21px;
}

.hero {
  background-color: #ffb8ca;
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-bottom: 0;
  }
}

.hero-back-img {
  position: absolute;
  left: 38%;
  bottom: 2px;
  z-index: 2;
  width: 171px;
  height: 410px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-back-img {
    display: flex;
    position: absolute;
    width: 143px;
    height: 336px;
    transform: translateX(70%);
  }
}
@media (min-width: 1200px) {
  .hero-back-img {
    display: flex;
    position: absolute;
    margin-left: 140px;
    width: 236px;
    height: 557px;
  }
}

.hero-circle-imgphone {
  position: absolute;
  left: 15.8%;
  bottom: 45px;
  width: 315px;
  height: 378px;
}
@media (min-width: 1200px) {
  .hero-circle-imgphone {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-circle-imgphone {
    display: none;
  }
}

.hero-circle-imbtablet {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-circle-imbtablet {
    display: flex;
    position: absolute;
    height: 322px;
    transform: translateX(95%);
    bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .hero-circle-imbtablet {
    display: flex;
    position: absolute;
    margin-left: 440px;
    transform: translateY(-125px);
    width: 600px;
    height: 600px;
  }
}

.hero-giiirl-tablet {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-giiirl-tablet {
    z-index: 2;
    display: flex;
    position: absolute;
    width: 168px;
    height: 133px;
    left: 580px;
    top: 266px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-ice {
    position: relative;
    top: 80px;
  }
}
@media (min-width: 1200px) {
  .hero-ice {
    margin-left: 68px;
    position: relative;
    top: 20px;
  }
}

.hero-ice-txt {
  margin-bottom: 19px;
}
@media (min-width: 1200px) {
  .hero-ice-txt {
    margin-bottom: 25px;
  }
}

.hero-ice-title {
  position: relative;
  z-index: 3;
  color: white;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 4%;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  width: 218px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-ice-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .hero-ice-title {
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: 4%;
    text-transform: uppercase;
    letter-spacing: 0.003em;
    width: 218px;
  }
}

.hero-passion {
  position: relative;
  z-index: 3;
  color: #d41443;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 96%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-passion {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 90%;
    letter-spacing: 4%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .hero-passion {
    font-weight: 400;
    font-size: 58px;
    line-height: 90%;
    letter-spacing: 4%;
    text-transform: uppercase;
  }
}

.hero-btn-list {
  display: flex;
  position: relative;
  z-index: 3;
}

.hero-ice-btn {
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: #d41443;
  margin-right: 8px;
}
@media (min-width: 1200px) {
  .hero-ice-btn {
    padding: 12px 21px;
    font-size: 14px;
  }
}

.hero-ice-btntwo {
  color: #d41443;
  padding: 10px 17px;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}
@media (min-width: 1200px) {
  .hero-ice-btntwo {
    padding: 12px 21px;
    font-size: 14px;
  }
}

.hero-milk {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-milk {
    display: flex;
    position: relative;
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .hero-milk {
    display: flex;
    margin-left: 30px;
    position: relative;
    bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-milk-txt {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
    position: relative;
    top: 48px;
    right: 10px;
  }
}
@media (min-width: 1200px) {
  .hero-milk-txt {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    position: relative;
    top: 59px;
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-milk-img {
    width: 124px;
    height: 126px;
  }
}
@media (min-width: 1200px) {
  .hero-milk-img {
    width: 188px;
    height: 191px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-milk-btn {
    margin-bottom: 12px;
    color: #d41443;
    font-size: 7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 360px;
    background-color: white;
    position: relative;
    top: 107px;
    right: 115px;
  }
}
@media (min-width: 1200px) {
  .hero-milk-btn {
    margin-bottom: 12px;
    color: #d41443;
    font-size: 7px;
    display: inline-block;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 360px;
    background-color: white;
    position: relative;
    top: 150px;
    right: 182.5px;
  }
}

.hero-num-list {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-num-list {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 48px;
    margin-right: 34px;
    z-index: 3;
  }
}
@media (min-width: 1200px) {
  .hero-num-list {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 173px;
    margin-right: 34px;
    z-index: 3;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-num-txt {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .hero-num-txt {
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-num-p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: white;
  }
}
@media (min-width: 1200px) {
  .hero-num-p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-num-item {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .hero-num-item {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-circle {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 360;
    position: absolute;
    right: -13px;
    z-index: -1;
    top: -5px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-circle-two {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 360;
    position: absolute;
    right: -13px;
    z-index: -1;
    top: 50px;
  }
}

.products {
  background-color: white;
  padding: 60px 20px;
  margin-top: 80px;
}

.products-title {
  text-align: center;
  margin-bottom: 40px;
}

.production-h4 {
  color: #FFA5BA;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.production-h2 {
  color: #D41443;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 58px;
  line-height: 100%;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}

.products-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .products-catalog {
    flex-direction: row;
    margin-top: 250px;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .products-catalog {
    gap: 30px;
    margin-top: 280px;
  }
}

.products-item {
  position: relative;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .products-item {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .products-item {
    width: 337px;
  }
}

.products-item:first-child {
  background-color: #FFB8CA;
  border-radius: 12px;
  padding: 20px;
}

.products-item:nth-child(2) {
  background-color: #F0D1A5;
  border-radius: 12px;
  padding: 20px;
}

.products-item:nth-child(3) {
  background-color: #C2E297;
  border-radius: 12px;
  padding: 20px;
}

.products-imges {
  position: absolute;
  top: -220px;
  transform: translateX(-50%);
  width: 335px;
  z-index: 1;
}

.production-h3 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 130px;
}

.products-p {
  color: #FFFFFF;
  margin-top: 30px;
}

.about-products {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 4%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 100px;
}

.products-button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  color: red;
  cursor: pointer;
}

.gallery {
  width: 364px;
  height: 122px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    width: 786px;
    height: 264px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    width: 1280px;
    height: 430px;
  }
}

.rewiews {
  padding: 60px 0;
  background-color: #fafafa;
  background-image: url(../images/brackets.svg);
  background-repeat: no-repeat;
  background-position: 5px 170px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .rewiews {
    background-image: url(../images/brackets.svg);
    background-repeat: no-repeat;
    background-position: 100px 170px;
  }
}
@media (min-width: 1200px) {
  .rewiews {
    background-image: url(../images/brackets.svg);
    background-repeat: no-repeat;
    background-position: 215px 170px;
  }
}

.testimonial-slider {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slides-container {
  position: relative;
  overflow: hidden;
}

.lines {
  border-bottom: 1px solid #E1E1E1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
}

.slide.active {
  position: relative;
  opacity: 1;
}

.girl {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.testimonial-text {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  text-align: center;
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .testimonial-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.dots {
  font-family: "DM Sans";
  font-weight: 900;
  line-height: 186%;
  text-align: center;
  color: #C7133E;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 10px 0;
}

.author {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  margin-top: 15px;
}

.slider-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #C7133E;
}

.location {
  background-color: #fff5f6;
  padding: 120px 0;
}
.location .location-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .location .location-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
.location .location-item {
  background-color: white;
  border-radius: 24px;
  padding: 330px 572px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  font-family: "DM Sans", sans-serif;
  text-align: left;
}
.location .location-type {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 186%;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
}
.location .location-type-cafe {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 4%;
  text-align: left;
  align-items: middle;
  color: #fff;
  background-color: rgb(240, 209, 165);
}
.location .location-type-foodtrack {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 4%;
  text-align: left;
  vertical-align: middle;
  color: #fff;
  background-color: rgb(194, 226, 151);
}
.location .location-city {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 4%;
  color: rgb(0, 0, 0);
  margin-bottom: 12px;
}
.location .location-text p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: rgb(144, 126, 130);
  margin-bottom: 8px;
}
.location .time-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  margin-top: 16px;
  margin-bottom: 4px;
}
.location .time {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  color: rgb(255, 165, 186);
  margin: 0;
}
.location .location-contact {
  margin-top: 24px;
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
}
.location .location-contact-text {
  color: rgb(144, 126, 130);
  margin: 0;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.location .location-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media (min-width: 768px) {
  .location .location-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.btn-ourlocation {
  background-color: #d41342;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-franchise {
  background-color: #fff;
  color: #d41443;
  border: 1px solid #d41443;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-span {
  font-weight: 700;
}

.footer {
  background-color: #fff5f6;
  padding: 60px 0;
  font-family: "Titan One", "DM Sans";
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer {
    padding: 40px 20px;
    text-align: center;
  }
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .footer-left {
  margin-bottom: 43px;
}
.footer .footer-left .footer-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgb(255, 165, 186);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer .footer-left .footer-title {
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4%;
  }
}
.footer .footer-left .footer-subtitle {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer .footer-left .footer-subtitle {
    margin: 10px 0;
    font-size: 58px;
    letter-spacing: 6%;
  }
}

.phone {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(0, 0, 0);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .phone {
    font-size: 16px;
    margin-top: 15px;
  }
}
.phone-footer-span {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(212, 20, 67);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .phone-footer-span {
    font-size: 16px;
    letter-spacing: 2%;
  }
}

.copyright {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(144, 126, 130);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .copyright {
    margin-top: 30px;
    border-top: 1px #907e82;
    padding-top: 10px;
    font-size: 12px;
  }
}

.footer-list {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  gap: 20px;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer-list {
    gap: 10px;
  }
}

.footer-item-a {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(254, 165, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer-item-a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    transition: background 0.3s;
  }
}

.footer-item:hover {
  background-color: rgb(212, 20, 67);
}

.footer-icon {
  width: 32;
  height: 32;
  top: 6884px;
  left: 147px;
  background: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */