 :root{
    --red: #D41443;
    --white: #ffffff;
    --background: #FFF5F6;
    --pink: #FFB8CA;
    --bgpink: #FFA5BA;
    --text: #000000;
    --secondtext: #907E82;
    --lime: #C2E297;
    --coffee: #F0D1A5;
  }