<section class="cow-section">
<div class="container">
    <h3 class="production-h3">TRADITION AND LOVE</h3>
    <h2 class="production-h2">HOW IT’S MADE?</h2>
    <p class="about-production-p" >Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="production-instruction">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br>
      <br> <br>  Aliquam erat volutpat. Aenean accumsan.</p>
       <button class="more-information-btn">Read more ></button>
       <ul class="stats">
        <li class="stats-item">
            <h2 class="value">721</h2>
            <p class="label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="stats-item">
            <h2 class="value">16KG</h2>
            <p class="label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="stats-item">
            <h2 class="value">84</h2>
            <p class="label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
       </ul>
</div>
</section>
</div>