<footer class="footer container">
  <div class="footer-content">
    <h2 class="footer-title">HOMEMADE ICE CREAM MADE</h2>
    <h3 class="footer-subtitle">WITH PASSION</h3>

    <ul class="footer-list">
      <li class="footer-item-first">
        <a href="https://github.com/VladyslavYermakov/IceCream">
          <img class="icon-item" src="./images/github-logo.svg" />
        </a>
      </li>
      <li class="footer-item-second">
        <a href="https://web.telegram.org/a/">
          <img class="icon-item" src="./images/telegram-logo.svg" />
        </a>
      </li>
      <li class="footer-item-third">
        <a href="https://www.facebook.com/?locale=uk_UA">
          <img class="icon-item" src="./images/facebook-logo.svg" />
        </a>
      </li>
    </ul>

    <p class="phone">
      Feel free to contact
      <span class="footer-span">+61 (0) 383 766 284</span>
    </p>
  </div>
  <div class="copyright">
    <p class="copyright-text">© 2025 - IceCream. All Rights Reserved.</p>
    <p class="copyright-text-mobile">
      © 2025 - IceCream. <br />All Rights Reserved.
    </p>
  </div>
</footer>
