<section class="footer">
<footer class="footer">
  <div class="container">
<div class="footer-content">
<div class="footer-left">
  <h2 class="footer-title">WITH PASSION</h2>
  <h3 class="footer-subtitle">HOMEMADE ICE CREAM MADE</h3>
  <ul class="footer-list">
    <li class="footer-item">
        <a href="https://github.com/VladyslavYermakov/IceCream"></a>
        <svg class:="icon" alt="github">
            <use>

            </use>
        </svg>
    </li>
    <li class="footer-item">
        <a href="https://web.telegram.org/a/"></a>
        <svg class:="icon" alt="telegram">
            <use>

            </use>
        </svg>
    </li>
    <li class="footer-item">
        <a href="https://www.facebook.com/?locale=uk_UA"></a>
        <svg class:="icon" alt="facebook">
            <use>

            </use>
        </svg>
    </li>
  </ul>
</div>
        <p class="phone">Feel free to contact <span class="footer-span">+61 (0) 383 766 284</span></p>
      </div>
 
    
    <p class="copyright">
     © 2025 - IceCream. All Rights Reserved.     
    </p>
    </div>
  </footer>
</section>
