<header class="header">
  <a href="">icecream</a>
  <ul class="header-list">
    <li class="header-item">Home</li>
    <li class="header-item">About us</li>
    <li class="header-item">How it’s made?</li>
    <li class="header-item">Our products</li>
    <li class="header-item">Contact</li>
  </ul>
  <button class="header-btn" type="button">Buy now ></button>
</header>

<section class="hero">
  <h1 class="hero-title">ice cream made with <br> passion</h1>
  <button class="hero-btn" type="button">Products</button>
  <button class="hero-btn" type="button">How it’s made?</button>

<ul>
    <li>
        <h2>16</h2>
        <p>cafes</p>
    </li>
    <li>
        <h2>23</h2>
        <p>food trucks</p>
    </li>
</ul>

  <ul class="hero-list">
    <li class="hero-item">
      <img class="hero-item-img"
        src="./images/milk.png"
        srcset="./images/milk@2x.png 2x"
        alt="milk"/>
    </li>
    <li class="hero-item">
      <p class="hero-item-txt">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor <br> incididunt ut labore et</p>
    </li>
  </ul>

</section>
