<header class="header">
    <div class="container">
  <a href=""class="header-logo"><img src="./images/logo.svg" alt="logo"></a>
  <ul class="header-list">
    <li class="header-item"><a href="">Home</a></li>
    <li class="header-item"><a href="">About us</a></li>
    <li class="header-item"><a href="">How it’s made?</a></li>
    <li class="header-item"><a href="">Our products</a></li>
    <li class="header-item"><a href="">Contact</a></li>
  </ul>
  <button class="header-btn" type="button" data-mob-open>Buy now ></button>
  <img class="header-burger-opn" src="./images/burger-open.svg" alt="burger">
          <div class="mob-menu is-hidden" data-mob>
           <div class="mob">
          <ul class="mob-list">
            <li class="mob-item"><a href="./" target="blank">Студія</a></li>
            <li class="mob-item"><a href="./" target="blank">Портфоліо</a></li>
            <li class="mob-item"><a href="./" target="blank">Контакти</a></li>
          </ul>
          <ul class="mobnav-list">
            <li class="mobnav-item"><a href="" target="blank" rel="noopener noreferrer">+38 096 111 11</a></li>
            <li class="mobnav-item"><a href="" target="blank" rel="noopener noreferrer">info@devstudio.com</a></li>
          </ul>
          <ul class="mob-listtwo">
            <li class="mob-itemtwo">Instagram</li>
            <li class="mob-itemtwo">Twitter</li>
            <li class="mob-itemtwo">Facebook</li>
            <li class="mob-itemtwo">LinkedIn</li>
          </ul>
             <button type="button" class="mob-close" data-mob-close>x</button>
        </div>
  </div>
</header>

