<header class="header">
    <div class="container">
  <a href=""class="header-logo"><img src="./images/logo.svg" alt="logo"></a>
  <ul class="header-list">
    <li class="header-item"><a class="header-links" href="../index.html">Home</a></li>
    <li class="header-item"><a class="header-links" href="#location">About us</a></li>
    <li class="header-item"><a class="header-links" href="#cow">How it’s made?</a></li>
    <li class="header-item"><a class="header-links" href="#products">Our products</a></li>
    <li class="header-item"><a class="header-links" href="#footer">Contact</a></li>
  </ul>

   

 <button class="header-btn" type="button">Buy now ></button>
                
  </div>
</header>

