<section class="hero">
  <div class="container">
    <img class="hero-back-img" src="./images/big-icecream.png" srcset="./images/big-icecream@2x.png 2x" alt="bigicecream">
<img class="hero-circle-imgphone" src="./images/phone-elipse.png" alt="">

    <div class="hero-ice">
      <div class="hero-ice-txt">
      <h1 class="hero-ice-title">
        ice cream made with
      </h1>
      <h2 class="hero-passion">
        passion</h2>
</div>

      <ul class="hero-btn-list">
        <li><button class="hero-ice-btn" type="button">Products</button></li>
        <li><button class="hero-ice-btntwo" type="button">How it’s made?</button></li>
      </ul>
    </div>

    <ul class="hero-num-list">
      <li class="hero-num-item">
        <h2>16</h2>
        <p>cafes</p>
      </li>
      <li class="hero-num-item">
        <h2>23</h2>
        <p>food trucks</p>
      </li>
    </ul>

    <div class="hero-milk">
        <img
          class="hero-milk-img"
          src="./images/milk.png"
          srcset="./images/milk@2x.png 2x"
          alt="milk"
        />
        <p class="hero-milk-txt">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit,<br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="hero-milk-btn" type="button"></button>
  </div>
</section>
