<section class="hero">
  <div class="container">
    <img src="./images/big-icecream.png" srcset="./images/big-icecream@2x.png 2x" alt="bigicecream">
    <div class="hero-ice">
      <h1 class="hero-ice-title">
        ice cream made with <br/>
        passion
      </h1>
      <ul>
        <li><button class="hero-ice-btn" type="button">Products</button></li>
        <li><button class="hero-ice-btn" type="button">How it’s made?</button></li>
      </ul>
    </div>

    <ul>
      <li>
        <h2>16</h2>
        <p>cafes</p>
      </li>
      <li>
        <h2>23</h2>
        <p>food trucks</p>
      </li>
    </ul>

    <div class="hero-milk">
        <img
          class="hero-milk-img"
          src="./images/milk.png"
          srcset="./images/milk@2x.png 2x"
          alt="milk"
        />
        <p class="hero-milk-txt">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit,<br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="hero-milk-btn" type="button"></button>
  </div>
</section>
