<section class="location">
  <div class="container">
    <ul class="location-list">
      <li class="location-item">
        <h3 class="location-type type-cafe">CAFE</h3>
        <h3 class="location-city">Chicago</h3>

        <p class="location-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <p class="time-title">Monday – Friday</p>

        <p class="time">06:00 AM – 10:00 PM</p>

        <p class="time-title">Saturday – Sunday</p>

        <p class="time">08:00 AM – 16:00 PM</p>

        <div class="location-contact">
          <p class="location-contact-text">+61(0) 383 766 284</p>

          <p class="location-contact-text">noreply@envato.com</p>
        </div>
      </li>

      <li class="location-item">
        <h3 class="location-type type-foodtruck">FOOD TRUCK</h3>
        <h3 class="location-city">Los Angeles</h3>

        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <p class="time-title">Monday – Friday</p>

        <p class="time">06:00 AM – 10:00 PM</p>

        <p class="time-title">Saturday – Sunday</p>

        <p class="time">08:00 AM – 16:00 PM</p>

        <div class="location-contact">
          <p class="location-contact-text">+61(0) 383 766 284</p>

          <p class="location-contact-text">noreply@envato.com</p>
        </div>
      </li>

      <li class="location-item">
        <h3 class="location-type type-cafe">CAFE</h3>
        <h3 class="location-city">New York</h3>

        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <p class="time-title">Monday – Friday</p>

        <p class="time">06:00 AM – 10:00 PM</p>

        <p class="time-title">Saturday – Sunday</p>

        <p class="time">08:00 AM – 16:00 PM</p>

        <div class="location-contact">
          <p class="location-contact-text">+61(0) 383 766 284</p>

          <p class="location-contact-text">noreply@envato.com</p>
        </div>
      </li>
    </ul>
    <ul class="location-buttons">
      <li>
        <button type="button" class="btn-ourlocation" data-modal-open>Our Location<span class="btn-span">></span></button>
         
      </li>
      <li>
        <button type="button" class="btn-franchise">
          Franchise<span class="btn-span">></span>
        </button>
      </li>
    </ul>
  </div>
</section>
          <div class="backdrop is-hidden" data-modal>
            <div class="modal">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14067.152513858558!2d-62.92370234329996!3d44.91972680210553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5bc7ffaac2bebb%3A0xd022d04783cd3de5!2sBig%20Ass%20Lake!5e1!3m2!1sru!2sca!4v1750611810009!5m2!1sru!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <button class="location-modal-close" data-modal-close>X</button>
            </div>
          </div>