
<section class="products">
    <div class="container">
        <div class="products-title">
<h4 class="production-h4">100% NATURAL</h4>
<h2 class="production-h2">PRODUCTS</h2>
        <div>
<ul class="products-catalog">
    <li class="products-list">
        <img src="./images/icecream.png" alt="icecream.png" class="products-imges"/>
    <h3 class="production-h3">ICE CREAM</h3>
    <p class="products-p">...</p>
    <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
     <button type="products-button">+</button>
    </li>
    <li class="products-list">
        <img src="./images/coffee.png" alt="coffee.png" class="products-imges"/>
     <h3 class="production-h3">ICE COFFEE</h3>
     <p class="products-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
      <button type="products-button">+</button>
    </li>
    <li class="products-list">
        <img src="./images/milkshake.png" alt="milkshake.png" class="products-imges"/>
     <h3 class="production-h3">MILKSHAKES</h3>
     <p class="products-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
     <button type="products-button">+</button>
    </li>
</ul>
    </div>
</section>
