
<section class="products-section">
    <div class="container">
<h3 class="h3-quality">100% NATURAL</h3>
<h2 class="h2-quality">PRODUCTS</h2>
<ul class="products-catalog">
    <li class="products-list">
    <h3 class="h3-availability">ICE CREAM</h3>
    <p class="empty-p">...</p>
    <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products-list">
     <h3 class="h3-availability">ICE COFFEE</h3>
     <p class="empty-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products-list">
     <h3 class="h3-availability">MILKSHAKES</h3>
     <p class="empty-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
</ul>
    </div>
</section>
