
<section class="products-section">
    <div class="container">
<h4 class="production-h4">100% NATURAL</h4>
<h2 class="production-h2">PRODUCTS</h2>
<ul class="products-catalog">
    <li class="products-list">
    <h3 class="production-h3">ICE CREAM</h3>
    <p class="products-p">...</p>
    <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products-list">
     <h3 class="production-h3">ICE COFFEE</h3>
     <p class="products-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products-list">
     <h3 class="production-h3">MILKSHAKES</h3>
     <p class="products-p">...</p>
     <p class="about-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
</ul>
    </div>
</section>
