<section class="rewiews">
<div class="container">
  <div>
    <div class="respond-1">
      <img class="img" src="./images/collage-firstgirl.png" alt="girl1" />
      <div class="comment">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
  </div>

  <div class="dots">
    <p>...</p> /span
  </div>
  <div class="Emily">
    <p>Emily Los Angeles</p>
  </div>
</div>

