<section class="rewiews container" id="rewiews">
     <div class="testimonial-slider">
        <div class="slides-container">
            <div class="slide active">
                <img src="./images/collage-firstgirl.png" alt="girl" class="girl">
                <p class="testimonial-text"><span class="lines">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla</span><span class="lines">quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                <p class="dots">. . .</p>
                <p class="author">Emily, Los Angeles</p>
            </div>
            <div class="slide">
                <img src="./images/collage-secondgirl.png" alt="girl" class="girl">
                <p class="testimonial-text"><span class="lines">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla</span><span class="lines">quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                <p class="dots">. . .</p>
                <p class="author">Maya, New York</p>
            </div>
            <div class="slide">
                <img src="./images/collage-thirdgirl.png" alt="girl" class="girl">
                <p class="testimonial-text"><span class="lines">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla</span><span class="lines">quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                <p class="dots">. . .</p>
                <p class="author">Sarah, Chicago</p>
            </div>
        </div>
        <div class="slider-nav">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</section>
