.cow{
    background-color: #FFF5F6;
    padding: 40px 20px;
    background-image: url(../images/cow-bg.png);
    background-repeat: no-repeat;
    background-position: center 370px;
    padding-bottom: 140px;
    @media (min-device-pixel-ratio:2),(min-resolution:192dpi), (min-resolution:2dppx) {
        background-image: url(../images/cow-bg@2x.png);
    }

}
.cow-h4{
    color: #FFA5BA;
    font-family: "Titan One";
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 4%;
text-align: center;
text-transform: uppercase;
margin-bottom: 25px;
margin-top: 125px;
    @media (min-width: 768px) and (max-width: 1199px) { 
        font-family: "Titan One";
font-weight: 400;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
}
.cow-h2{
    color: #D41443;
font-family: "Titan One";
font-weight: 400;
font-size: 58px;
line-height: 100%;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
 @media (min-width: 768px) and (max-width: 1199px) { 
   font-family: "Titan One";
font-weight: 400;
font-size: 48px;
line-height: 100%;
letter-spacing: 4%;
text-align: center;
text-transform: uppercase;

}
}
.cow-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

     @media (min-width: 768px) and (max-width: 1199px) { 
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
}
.cow-image-side img{
    width: 516px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
     @media (min-width: 768px) and (max-width: 1199px) { 
    width: 340px;
    margin-left: 0px;
    margin-bottom: 77px;
}
}
.cow-text{
    color: #000000;
    font-family: "DM Sans";
font-weight: 500;
font-size: 16px;
line-height: 176%;
letter-spacing: 4%;
text-align: left;
margin-bottom: 35px;
margin-top: 50px;
margin-right: 70px;
margin-left: 70px;
 @media (min-width: 768px) and (max-width: 1199px) { 
font-family: "DM Sans";
font-weight: 500;
font-size: 14px;
line-height: 176%;
letter-spacing: 0%;
margin-top: 100px;
margin-left: 10px;
margin-right: 17px;
margin-bottom: 25px;
}
}
.cow-instruction{
    color: #907E82;
    font-family: "DM Sans";
font-weight: 500;
font-size: 14px;
line-height: 194%;
letter-spacing: 4%;
text-align: left;
margin-right: 70px;
margin-left: 70px;
 @media (min-width: 768px) and (max-width: 1199px) { 
font-family: "DM Sans";
font-weight: 500;
font-size: 14px;
line-height: 176%;
letter-spacing: 4%;
margin-left: 10px;
margin-right: 33px;
}
}
.cow-more{
    display: block;
background-color: #fff;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 37px;
padding-right: 37px;
border-radius: 22px;
font-family: "DM Sans";
font-weight: 700;
font-size: 16px;
line-height: 100%;
color: #D41443;
margin-top: 35px;
margin-left: 65px;
 @media (min-width: 768px) and (max-width: 1199px) { 
 margin-left: 0px;
 margin-top: 50px;
 margin-bottom: 63px;
}
}
.cow-list{
    display: flex;
    gap: 30px;
    padding: 0 20px;
}
.cow-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cow-value{
     color: #D41443;
   font-family: "Titan One";
font-weight: 400;
font-size: 58px;
line-height: 100%;
margin-top: 15px;
margin-bottom: 15px;
  @media (min-width: 768px) and (max-width: 1199px) { 
    font-family: "Titan One";
font-weight: 400;
font-size: 48px;
line-height: 100%;
letter-spacing: 4%;
}

}
.cow-label{
    font-family: "DM Sans";
font-weight: 700;
font-size: 16px;
line-height: 176%;
letter-spacing: 2%;
text-align: left;
  @media (min-width: 768px) and (max-width: 1199px) { 
   font-family: "DM Sans";
font-weight: 700;
font-size: 14px;
line-height: 174%;
letter-spacing: 0%;
margin-right: 10px;
}
}
.cow-img2{
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
     @media (min-width: 768px) and (max-width: 1199px) { 
    width: 44;
    height: 50;
    

}
}