.footer {
  background-color: #fff5f6;
  padding: 0px;
  @media (min-width: 768px) and (max-width: 1199px) {
  }

  @media (min-width: 1200px) {
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-right: 68px;
    color: rgba(255, 165, 186, 1);

    @media (min-width: 768px) {
      font-size: 26px;
      letter-spacing: 4%;
      margin-left: 0px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
      letter-spacing: 4%;
      margin-bottom: 15px;
    }
  }
  .footer-subtitle {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: rgba(212, 20, 67, 1);
    @media (min-width: 768px) and (max-width: 1199px) {
      margin: 10px 0;
      font-size: 48px;
      letter-spacing: 6%;
    }
    @media (min-width: 1200px) {
      font-size: 58px;
      letter-spacing: 6%;
    }
  }
}

.phone {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 46px;

  color: rgba(0, 0, 0, 1);
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
  }
}
.footer-span {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(212, 20, 67, 1);
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    letter-spacing: 2%;
  }
}
.copyright {
  margin-top: 43px;
  border-top: 1px solid #e1e1e1;
}
.copyright-text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  color: rgba(144, 126, 130, 1);
  display: none;
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 29px;
    border-top: 1px #907e82;
    padding-top: 10px;
    font-size: 12px;
    display: block;
    line-height: 186%;
    letter-spacing: 2%;
    margin-bottom: 18px;
  }
  @media (min-width: 1200px) {
    display: block;
    margin-bottom: 10px;
    margin-top: 9px;
  }
}

.copyright-text-mobile {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  color: rgba(144, 126, 130, 1);
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
    border-top: 1px #907e82;
    padding-top: 10px;
    font-size: 12px;
    display: none;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.footer-list {
  margin-top: 43px;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-left: 147px;
  @media (min-width: 768px) {
    gap: 30px;
    margin-top: 0px;
  }
  @media (min-width: 1200px) {
  }
}
.footer-item-first {
  display: inline-block;
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(254, 165, 187, 1);
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.footer-item-second {
  display: inline-block;
  padding-top: 8.5px;
  padding-left: 5.3px;
  padding-right: 7.5px;
  padding-bottom: 8.5px;
  border-radius: 50%;
  background-color: rgba(254, 165, 187, 1);
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.footer-item-third {
  display: inline-block;

  border-radius: 50%;
  background-color: rgba(254, 165, 187, 1);
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  padding-top: 6.4px;
  padding-left: 12px;
  padding-right: 11.2px;
  padding-bottom: 6.4px;
}

.footer-item-first:hover {
  background-color: rgba(212, 20, 67, 1);
}
.footer-item-second:hover {
  background-color: rgba(212, 20, 67, 1);
}
.footer-item-third:hover {
  background-color: rgba(212, 20, 67, 1);
}
