.footer {
  background-color: #fff5f6;
  padding: 60px 0;
  font-family: 'Titan One', 'DM Sans';
  @media (min-width: 768px) and (max-width: 1280px) {
    padding: 40px 20px;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 43px;

    .footer-subtitle {
      font-family: 'Titan One';
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: rgba(255, 165, 186, 1);
      @media (min-width: 768px) and (max-width: 1280px) {
        margin: 10px 0;
        font-size: 30px;
        letter-spacing: 4%;
      }
    }
    .footer-title {
      font-family: 'Titan One';
      font-weight: 400;
      font-size: 34px;
      line-height: 100%;
      letter-spacing: 4%;
      text-transform: uppercase;
      color: rgba(212, 20, 67, 1);
      @media (min-width: 768px) and (max-width: 1280px) {
        margin: 10px 0;
        font-size: 58px;
        letter-spacing: 6%;
      }
    }
  }
}

.phone {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  @media (min-width: 768px) and (max-width: 1280px) {
    font-size: 16px;
    margin-top: 15px;
  }

  &-footer-span {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(212, 20, 67, 1);
    @media (min-width: 768px) and (max-width: 1280px) {
      font-size: 16px;
      letter-spacing: 2%;
    }
  }
}

.copyright {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(144, 126, 130, 1);
  @media (min-width: 768px) and (max-width: 1280px) {
    margin-top: 30px;
    border-top: 1px #907e82;
    padding-top: 10px;
    font-size: 12px;
  }
}
.footer-list {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  gap: 20px;
  list-style: none;
  padding: 0;
  @media (min-width: 768px) and (max-width: 1280px) {
    gap: 10px;
  }
}
.footer-item {
  &-a {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(254, 165, 187, 1);
    display: flex;

    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    @media (min-width: 768px) and (max-width: 1280px) {
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: white;
      font-size: 18px;
      transition: background 0.3s;
    }
  }
}

&-item:hover {
  background-color: rgba(212, 20, 67, 1);
}

&-icon {
  width: 32;
  height: 32;
  top: 6884px;
  left: 147px;
  background: rgba(255, 255, 255, 1);
  @media (min-width: 768px) and (max-width: 1280px) {
  }
}
