.location {
  background-color: #fff5f6;
  padding: 120px 0;

  .location-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style: none;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;
    }
  }

  .location-item {
    background-color: white;
    border-radius: 24px;
    padding: 50px 20px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

    font-family: 'DM Sans', sans-serif;
    text-align: left;

    @media (min-width: 768px) {
    }

    .location-type {
      font-family: 'DM Sans', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: white;
      padding: 4px 12px;
      border-radius: 6px;
      display: inline-block;
      margin-bottom: 20px;
      line-height: 186%;
      letter-spacing: 4%;
      text-align: center;
      vertical-align: middle;
    }

    .location-type-cafe {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 4%;
      text-align: left;
      align-items: middle;
      color: #fff;
      background-color: rgba(240, 209, 165, 1);
    }

    .location-type-foodtrack {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 4%;
      text-align: left;
      vertical-align: middle;
      color: #fff;
      background-color: rgba(194, 226, 151, 1);
    }

    .location-city {
      font-family: DM Sans;
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 4%;
      color: rgba(0, 0, 0, 1);

      margin-bottom: 12px;
    }

    .location-text p {
      font-family: DM Sans;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      color: rgba(144, 126, 130, 1);
      margin-bottom: 8px;
    }

    .time-title {
      font-family: DM Sans;
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 0%;
      color: rgba(0, 0, 0, 1);
      margin-top: 16px;
      margin-bottom: 4px;
    }

    .time {
      font-family: DM Sans;
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 0%;
      color: rgba(255, 165, 186, 1);
      margin: 0;
    }

    .location-contact {
      margin-top: 24px;
      border-top: 1px solid #e1e1e1;
      padding-top: 16px;
    }
    .location-contact-text {
      color: rgba(144, 126, 130, 1);
      margin: 0;
      font-family: DM Sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }
  }

  .location-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }
  }
}
.btn-ourlocation {
  background-color: #d41342;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-franchise {
  background-color: #fff;
  color: #d41443;
  border: 1px solid #d41443;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-span {
  font-weight: 700;
}
