.products{
    background-color: white;
    padding: 60px 20px;
    margin-top: 80px;
}
.products-title{
   text-align: center;
   margin-bottom: 40px;
}
.production-h4{
    color: #FFA5BA;
    font-family: "Titan One";
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 4%;
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
}
.production-h2{
    color: #D41443;
font-family: "Titan One";
font-weight: 400;
font-size: 58px;
line-height: 100%;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
}
.products-catalog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) { 
    flex-direction: row;
    margin-top: 250px;
    gap: 20px;
}
@media (min-width: 1200px) {
 gap: 30px;
    margin-top: 280px;
}
@media (min-width: 1200px) {
margin-top: 130px;
}
    
}
.products-item{
    position: relative;
    text-align: center;
    width: 100%;
    @media (min-width: 320px) { 
 width: 280px;
}

      @media (min-width: 768px) { 
width: 220px;

}
@media (min-width: 1200px) {
 width: 337px;
}


}
.products-item:first-child{
    background-color: #FFB8CA;
     border-radius: 12px;
   
    padding: 20px;
}


.products-item:nth-child(2){
     background-color: #F0D1A5;
     border-radius: 12px;
    
    padding: 20px;
}

.products-item:nth-child(3){
     background-color: #C2E297;
     border-radius: 12px;
    
    padding: 20px;
}




.products-imges{
    position: absolute;
    top: -220px;
    transform: translateX(-50%);
    width: 335px;
    z-index: 1;
}

.production-h3{
    font-family: "Titan One";
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 4%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 130px;
}
.products-p{
color: #FFFFFF;
margin-top: 30px;
}
.about-products{
    font-family: "DM Sans";
font-weight: 700;
font-size: 16px;
line-height: 176%;
letter-spacing: 4%;
text-align: center;
color: #FFFFFF;
margin-top: 30px;
margin-bottom: 100px;
}
.products-button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: red;
    cursor: pointer;
}




